
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
<!-- Content Row -->
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                            Total Habitaciones
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-dark" id="totalhabitaciones">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-black-50"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Habitaciones Disponibles
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-primary" id="habitacionesdisponibles">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-box fa-2x text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Habitaciones Ocupadas
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-danger" id="habitacionesocupadas">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bed fa-2x text-danger"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Habitaciones en Limpieza
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-info" id="habitacioneslimpieza">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-air-freshener fa-2x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {

            jQuery.ajax({
                url: '@Url.Action("ListarHabitacion", "Gestion")' + '?idpiso=0',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.data != null) {
                        $("#totalhabitaciones").text(data.data.length)
                        $("#habitacionesdisponibles").text(data.data.filter(h => h.oEstadoHabitacion.IdEstadoHabitacion == 1).length)
                        $("#habitacionesocupadas").text(data.data.filter(h => h.oEstadoHabitacion.IdEstadoHabitacion == 2).length)
                        $("#habitacioneslimpieza").text(data.data.filter(h => h.oEstadoHabitacion.IdEstadoHabitacion == 3).length)
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });

        })


    </script>
}
